<div class="container">
    <app-navbar></app-navbar>
    <app-search></app-search>
  
  <!--POPULAR MOVIES-->
  
  <div class="headers">
    <h1>POPULAR MOVIES</h1>
  </div>
  
  <div class="grid">
    <div class="" *ngFor="let popular of popular_movies; let i = index">
      <div *ngIf="i < 20">
          <div class="alignment">
            <div>
            <img class="poster" src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" alt="{{ popular.original_title }}" style="height: 300px">
            
            <button class="favoriteButton"(click) = "saveFavorites(popular.original_title)"></button>
          
          </div>
            <div class="title">
              <p class="movieTitle">{{ popular.original_title }}</p>
            </div>
            <!--<a routerLink="/movie/{{ popular.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>-->
          
          
          
          <!--<button ('click') = "_appUser.postFav()" >Favorite this</button>-->
      </div>
    </div>
  </div>
  
    
</div>
