.container {
    width: 80%;
}

h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Metropolis","Avenir Next","Helvetica Neue", Arial, sans-serif;
    padding-bottom: 80px;
    font-size: 50px;
}


input {
    height: 60px;
    width: 400px;
}

#searchInput {
    border: black solid 1px;
    outline: none;
    background: rgba(59, 87, 173, .2);
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease all
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 15px;
    margin: 0;
}

.btn {
    cursor: pointer;
    margin: 0;
    margin-left: -6.8em;
    background-color: #3b57ad;
    border: none;
    border-radius: 15px;
    height: 55px;
    
}


button {
    height: 50px;
    width: 50px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}



.grid {
    display: grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-gap: 10px;
}

.movieDateRelease {
    text-align: center;
     color: #9498A7;
     font-size: 16px;
     margin-top: 50px;
}

.movieTitle {
    text-align: center;
    color: #9498A7;
    font-size: 20px;
    margin-top: 0;
}

.details {
    text-align: center;
}

.alignment {
    text-align: center;
    /*position: relative;*/
}

.title {
    text-align: center;
}

.poster {
    border-radius: 10px;
    
}







/*.favoriteButton {*/
/*transition: .2s ease;*/
/*  opacity: 0;*/
/*  position: absolute;*/
/*  top: 75%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  -ms-transform: translate(-50%, -50%);*/
/*  text-align: center;*/
/*}*/

/*.imageEffect {*/
/*     position: relative;*/
/*}*/

/*img:hover {*/
/*    opacity: 0.3;*/
/*}*/

/*MAKES BUTTON APPEAR*/
/*.imageEffect:hover .favoriteButton {*/
/*    opacity: 1;*/
/*}*/

/*.favoriteButton:hover {*/
/*    opacity: .3;*/
/*}*/