

<div class="container">
    <app-navbar></app-navbar>
    <app-search></app-search>
  
  <!--POPULAR MOVIES-->
  
  <div class="headers">
    <h1>POPULAR MOVIES</h1>
  </div>
  
  <div class="grid">
    <div class="" *ngFor="let popular of popular_movies; let i = index">
      <div *ngIf="i < 20">
          <div class="alignment">
            <div class=contain>
                <img class="poster" src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" alt="{{ popular.original_title }}" style="height: 300px">
              <div class="middle">
                <button class="favoriteButton" (click) = "saveFavorites(popular.original_title)"><img src='assets/heart2.png'></button>
              </div>
          </div>
            <div class="title">
              <p class="movieTitle">{{ popular.original_title }}</p>
            </div>

          
          
          <!--<button ('click') = "_appUser.postFav()" >Favorite this</button>-->
      </div>
    </div>
  </div>
  
    
  </div>
  </div>
