<div class="wrapper">
    <div class="navbar">
        <ul>
            <li><a routerLink="/postlogin">Popular Movies</a></li>
            <li><a routerLink="/comingsoon">Coming Soon</a></li>
            <li><a routerLink="/favorites">Favorites</a></li>
            <li>Search</li>
            <li>Logout</li>
        </ul>
    </div>
</div>


<!--<header class="header-6">-->
<!--    <div class="header-nav">-->
<!--        <a class="nav-link nav-text">Popular Movies</a>-->
<!--        <a routerLink="/comingsoon" class="nav-link nav-text">Coming Soon</a>-->
<!--        <a class="nav-link nav-text">Favorites</a>-->
<!--        <a class="nav-link nav-text">Search</a>-->
<!--        <a class="nav-link nav-text">Logout</a>-->
<!--    </div>-->
<!-- </header>-->