.container {
    width: 75%;
}

.headers {
   
  
}

h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Metropolis","Avenir Next","Helvetica Neue", Arial, sans-serif;
    padding-bottom: 80px;
    font-size: 50px;
    
}


.grid {
    display: grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-gap: 10px;
}

.movieDateRelease {
    text-align: center;
     color: #9498A7;
     font-size: 16px;
     margin-top: 50px;
}

.alignment {
    text-align: center;
}

.title {
    text-align: center;
}

.poster {
    border-radius: 10px;
     /*margin-left: 30px;*/
}

.movieTitle {
    text-align: center;
    color: #9498A7;
    font-size: 20px;
}

img {
    box-shadow: 4px 4px 4px rgba(35, 23, 23, .4);
    transition: all .2s;
}

img:hover {
	transform: scale(1.1);
}