<div class="container">
  <app-navbar></app-navbar>
  <app-search></app-search>
  
   <div class="headers">
      <h1>COMING SOON</h1>
    </div>
      
    <div class="grid">
      <div class="" *ngFor="let upcoming of upcoming_movies; let i = index">
        <div *ngIf="i < 20">
            <!--<div class="movieDateRelease">-->
            <!-- {{ upcoming.release_date | date:'mediumDate' }}-->
            <!--</div>-->
            <div class="alignment">
              <img class="poster" src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.original_title }}" style="height: 300px">
              <div class="title">
                <p class="movieTitle">{{ upcoming.original_title }}</p>
              </div>
              <!--<button (click) = "saveFavorites(popular.original_title)">favorite this</button>-->
              <!--<a routerLink="/movie/{{ popular.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>-->
            </div>
            
            
            <!--<button ('click') = "_appUser.postFav()" >Favorite this</button>-->
        </div>
      </div>
    </div>
</div>