
<div class="wrapper">
    <div class="loginBox">
    <img src="assets/avatar.png" class="avatar">
        <h1>Login</h1>
        <form>
            <p>Email</p>
           <input type="text" name="email" placeholder="email" [(ngModel)]='userData.email'>
           <p>Password</p>
           <input type="password" name="password" placeholder="password" [(ngModel)]='userData.password'>
           <a routerLink="/postlogin"><input type="submit" name="" value="Login" (click)= "onLogin()"></a>
           <br>
           <a routerLink="/signup"><p id="signupText">Don't have an account?</p></a>
        </form>
    </div>
</div>
<!--<a routerLink="/login"><p id="loginText">Already have an account?</p></a>-->

<!--<input placeholder="email" [(ngModel)]='userData.email'>-->
<!--<br>-->
<!--<input placeholder="password" [(ngModel)]='userData.password'>-->
<!--<br>-->
<!--<button (click)= "onLogin()">Login</button>-->
