<div>
  <app-home></app-home>

</div>


<!--<app-login></app-login>-->
<!--<app-search></app-search>-->



<!--<button (click)= "onSearch()" > Submit</button>-->


<!--<input [(ngModel)] = 'symbol'> -->

<!--<button (click) = 'onGo()'>GO!</button>-->
<!-- <div *ngIf="metaData">-->
<!--   <p>{{metaData['1. Information']}}</p>-->
<!--   <p>{{metaData['3. Last Refreshed']}}</p>-->
<!-- </div>-->
 
 <!--<div *ngIf="timeSeries">-->
 <!--  <p>{{timeSeries[2018-11-28]}}</p>-->
  
 <!--</div>-->
 
 <!--<div *ngIf="timeSeries">-->
 <!--  <p *ngFor="let x of timeSeries">-->
 <!--    {{x}}-->
 <!--  </p>-->
   
 <!--</div>-->
 

<!--<div *ngIf=''>-->
<!--  <div *ngFor='let x of symbol'>-->
<!--    {{}}-->
<!--  </div>-->
  
<!--</div>-->


<router-outlet></router-outlet>
