* {
    margin: 0 auto;
    padding: 0;
}

.gridDisplayMovies {
    display: grid;
    grid-template-columns:;
}

.card-body {
    
}

.flex {
    display: grid;
	grid-template-columns:25% 25% 25% 25%;
	grid-gap: 20px;
   
}

/*.row {*/
    
    /*background-color: #121934;*/
/*}*/

/*headers*/
/*.col-sm-12 {*/
/*    background-color: #2A3250;*/
/*}*/
/*.col-sm-12 > h1 {*/
/*    color: white;*/
    
/*}*/

/*.col-9 {*/
/*    background-color: blue;*/
/*    color: white;*/
/*}*/

/*.form-control {*/
/*    color: white;*/
/*}*/
/*.col-3 {*/
/*    background-color: yellow;*/
/*}*/

/*.searchButton {*/
    /*background-color: #121934;*/
/*}*/

/*.searchButton:hover {*/
/*    cursor: pointer;*/
/*}*/

