h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Metropolis","Avenir Next","Helvetica Neue", Arial, sans-serif;
    
}


input {
    height: 60px;
    width: 400px;
}

#searchInput {
    border: black solid 1px;
    outline: none;
    background: rgba(59, 87, 173, .2);
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease all
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 15px;
    margin: 0;
}

.btn {
    cursor: pointer;
    margin: 0;
    margin-left: -6.8em;
    background-color: #3b57ad;
    border: none;
    border-radius: 15px;
    height: 55px;
    
}

.btn:hover {
     /*background-color: #3b57ad;*/
}

.btn:focus {
  outline: none;
}

.buttonPosition {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-gap: 10px;
}

.alignment {
    text-align: center;
 

    /*margin: auto;*/
    /*width: 100%;*/
    /*border: 3px solid green;*/
    /*padding: 10px;*/
}

.title {
    text-align: center;
}

.poster {
    border-radius: 10px;
     /*margin-left: 30px;*/
}


.movieTitle {
    text-align: center;
    color: #9498A7;
    font-size: 20px;
}
