 <div class="container">
 
 <div class="mainHeader">
    <h1>Search for any movie!</h1>
  </div>
  <div class="searchBar">
    <input id="searchInput" placeholder="Search Movies" [(ngModel)]="movie">
    <div class="buttonPosition">
      <button class="btn btn-primary" (click)="searchMovies()">Search</button>
    </div>
  </div>
  
  <div class="grid">
    <div class="" *ngFor="let movie of search_result; let i = index">
        <div *ngIf="i < 20">
            <div class="alignment">
              <img class="poster" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 300px">
               <div class="middle">
                <button class="favoriteButton" (click) = "saveFavorites(movie.original_title)"><img src='assets/heart2.png'></button>
              </div>
              <div class="title">
                <p class="movieTitle">{{ movie.original_title }}</p>
              </div>
            </div>
      </div>
    </div>
  </div>
  
</div>