* {
    margin: 0 auto;
    /*padding: 0;*/
}


h1 {
    color: white;
    padding: 10px;
    text-align: center;
    
}

input {
    height: 35px;
    width: 300px;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.searchButton {
    cursor: pointer;
}

.grid {
    display: grid;
	grid-template-columns:25% 25% 25% 25%;
	grid-gap: 20px;
   
}

.movieDateRelease {
    text-align: center;
     color: #9498A7;
     font-size: 16px;
}

.movieTitle {
    text-align: center;
    color: #9498A7;
    font-size: 20px;
}

.details {
    text-align: center;
}
